PORT=3001

KAFKA_BROKERS=localhost:29092,localhost:29093,localhost:29094

REDIS_HOST=localhost
REDIS_PORT=6379

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=appuser
MYSQL_PASSWORD=apppassword
MYSQL_DATABASE=flashsale
